*{
    box-sizing: border-box;
    margin: 0;
    background-color: #cccccc;
    
}

h1.Titulo_Principal{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace; /* Utiliza una fuente monoespaciada */
    color: black; /* Utiliza un color verde típico de muchas terminales */
}

.reloj{
    
    width: 1000px;
    height: 1000px;
    display: grid;   
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
}
.reloj .cabeza{
    margin-top: 80px;
    width: 650px;
    margin-left: 70px;
    height: 50px; 
    background-color: transparent;
    grid-area: 1 / 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.cabezal{
    width: 70px;
    height: 25px; 
    background-color: white;
}
.reloj .perilla{
    width: 80px;
    height: 120px; 
    margin-left: 50px;
    margin-top: 70px;
    background-color: transparent;
    grid-area: 2 / 1;
    display: grid;   
    grid-template-columns: 2fr 1fr;
}

.perilla_2{
    width: 80px;
    height: 120px; 
    margin-top: 70px;
    background-color:transparent;
    grid-area: 2 / 3;
    display: grid;   
    grid-template-columns: 1fr 2fr;
}


.perilla .base{
    margin-top: 5px;
    width: 28px;
    height: 110px;
    grid-column-start: 2;
}
.perilla_2 .base{    
    width: 28px;
    height: 110px;
    grid-column-start: 1;
    transform: translateY(-75%);
}

.perilla_2 .superior{
    margin-top: 38px;
    width: 40px;
    height: 47px;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
}


.perilla .superior{
    margin-top: 38px;
    width: 35px;
    margin-left: 22px;
    height: 47px;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
}

.superior .muesca{
    margin-top: 5px;
    width: 33px;
    height: 4px;
    background-color: #aaaaaa;   
    border: 0px;
}


.perilla * , .perilla_2 *, .cabezal{
    background-color: white;
    border: 6.5px solid #aaaaaa;
}

.reloj .caja{
    display: flex;
    background-color: white;
    width: 800px;
    height: 250px;
    align-items: center;
    justify-content: center;
    border-radius: 33px;
    border: 7.5px solid #aaaaaa;
    grid-area: 2 / 2;
    
}




 

.caja .sombra{
    display: flex;
    background-color: #777777;
    width: 765px;
    height: 215px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.caja .sombra .caja_reloj{
    background-color: #444444;
    width: 740px;
    height: 190px;
    border-radius: 10px;
    display: grid;   
    grid-template-columns: 1fr 2fr 0.12fr 4fr 0.5fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.caja_reloj *{
    background-color: black;
    height: 120px;
}


.caja_reloj .volumen{
    width: 55px;
    display: flex;
    flex-direction: column;
    grid-area: 2 / 2;
}

.volumen + .indicadores{
    width: 300px;
    grid-area: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr 0.2fr 4fr 2fr;
    grid-template-rows: 1fr 5fr 1fr;
}

.sintonizador{
    width: 250px;
    grid-area: 2 / 6;
    display: flex;
    flex-wrap: wrap;
    
}

.volumen ~ *{
    border-radius: 10px;
    
}

.cambiadores:first-child{
    margin-top: 18px;
}
.cambiadores:last-child{
    margin-top: 9px;
}

.volumen > *{
    width: 22px;
    height: 4px;
    margin-top: 8px;
    margin-left: 22px;
    background-color: gray;
}

.Indicador_Numero{
    width: 60px;
    height: 100px;
    background-color: #444444;   
    margin-top: 10px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Indicador_Numero:nth-child(1) {
   
    grid-area: 1 / 2;
   
    margin-left: 10px;

    
}
.Indicador_Numero:nth-child(2) {
    grid-area: 1 / 4;
    margin-left: 10px;
    
}
.Indicador_Numero:nth-child(3) {
    grid-area: 1 / 6;
    margin-left: 1px;
    
}

.texto_indicador {
    font-size: 85px;
    font-family: Impact, sans-serif;
    color: white;
    background: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(35%);
}
.texto_indicador::after{
    content: "";
    width: 90px;
    height: 5px;
    background-color: black;   
    transform: translateX(-90%);
}

.niveles{
    width: 8px;
    height: 6px;
    background-color: #999999;   
    margin-left: 15px;
    
}
.niveles:first-child {
    margin-left: 15px;
}


.sintonizador .cambiadores{
    width: 250px;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 6fr 1fr;
    grid-template-rows: 4fr 3fr 2fr 1fr 2fr 1fr;
}


.sintonizador .cambiadores::before{
    content: "";
    width: 25px;
    height: 7px;
    background-color: #4d4d4d;
    grid-area: 3 / 2;
    margin-left: 15px;
}

.cambiadores_2:nth-child(2){
    width: 120px;
    height: 7px;
    background-color: #4d4d4d;
    grid-area: 3 / 4;
    
}

.cambiadores_2:first-child{
    width: 120px;
    height: 5px;
    background-color: #4d4d4d;
    grid-area: 2 / 4;
    
}


.cambiadores_2:nth-child(3){
    width: 25px;
    height: 5px;
    background-color: #4d4d4d;
    grid-area: 2 / 2;
    margin-left: 15px;
}

.cambiadores_2:nth-child(4){
    width: 90px;
    height: 20px;
    font-size: 18px;   
    background-color: transparent;
    grid-area: 1 / 4;
    margin-left: 45px;
    margin-bottom: 20px;
    font-family: Impact, sans-serif;
    color: white;
    text-align: right;
    
}

.sintonizador::after{
    content: "";
    width: 5px;
    height: 60px;
    background-color: red;
    transform: translate(-112px, -80%);
}


